<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libphonenumber.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imask.js') }}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('favicon') }}" />


<script>
  document.addEventListener('DOMContentLoaded', function () {

    // Initialize an input mask for the US phone number field
    var phoneInput = document.getElementById('phone_number');
    var phoneMask = new IMask(phoneInput, {
      mask: '000-000-0000',
      lazy: false,  // Format the input immediately as you type
    });

   // Create a mask for WhatsApp number input
   // Create a mask for WhatsApp number input
  var whatsappInput = document.getElementById('whatsapp_number');
  var whatsappMask = new IMask(whatsappInput, {
mask: [
      {
        mask: '+{00}(000)000-0000'
      },
      {
        mask: /^\S*@?\S*$/
      }
    ]
    }
)

 });
</script>

<title>FujiNet Alerting System</title>
 
</head>
<body>


<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">FujiNet Game Alerting System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Register & Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('privacy') }}">Privacy Policy</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
      </ul>
    </div>
</nav>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>


