{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to the Dashboard</h1>

  <h2>Events</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Game Name</th>
        <th>Number of Players</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event[1] }}</td>
          <td>{{ event[2] }}</td>
          <td>{{ event[3] }}</td>
          <td>{{ event[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


