{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to the Alerts Dashboard</h1>

<hr>
<h3> Player Joins - get a message when a new player joins a game.</h3>
  <form id="optInForm">
    <input type="hidden" name="phone" id="phone" value="{{ phone_number }}">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="opt_in" id="opt_in" {% if opt_in_status == 1 %}checked{% endif %}>
      <label class="form-check-label" for="optInRadio">
        Receive alert messages for player joins
      </label>
    </div>
  </form>
  
  <hr>
  <h3> Server Starts - get a message when a Game Server starts up.</h3>
  <form id="optInServerForm">
    <input type="hidden" name="phone" id="phone" value="{{ phone_number }}">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="opt_in" id="opt_in" {% if opt_in_status == 1 %}checked{% endif %}>
      <label class="form-check-label" for="optInRadio">
        Receive alert messages when Game Servers start
      </label>
    </div>
  </form>

<hr>
<h3> Limit Messages - check this to limit messages.</h3>
 <form id="optIn24Form">
    <input type="hidden" name="phone" id="phone" value="{{ phone_number }}">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="opt_in" id="opt_in" {% if opt_in_status == 1 %}checked{% endif %}>
      <label class="form-check-label" for="optInRadio">
        Limit - check box to limit to one message every 24 hours.
      </label>
    </div>
  </form>

  <script>
    var phone = "{{ phone_number }}";
    document.getElementById('optInForm').addEventListener('change', function() {
      var optInStatus = document.getElementById('opt_in').checked ? 1 : 0;
      updateOptIn(optInStatus);
    });
    
    function updateOptIn(optInStatus) {
      // Send a request to your Flask route to update the opt-in status
      fetch('/update_opt_in', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token() }}'
        },
        

//        body: JSON.stringify({'opt_in_status': optInStatus})
//        console.log(optInStatus);
//        console.log(phone});

        body: JSON.stringify({
            'opt_in_status': optInStatus,
            'phone': phone
        })
 
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          alert('Opt-In status updated successfully!');
        } else {
          alert('Failed to update Opt-In status. Please report this.');
        }
      });
    }
  </script>


<hr>

<h2>Delete My Data</h2>
<h3> Remove your data from Game Alert System</h3>

<form onsubmit="return confirmDeletion();" method="POST" action="{{ url_for('delete_user') }}">
  {{ delete_form.hidden_tag() }}
  {{ delete_form.phone_number.label }}
  {{ delete_form.phone_number(id="phone", class="form-control") }}
  <button type="submit" class="btn btn-danger">Delete my info</button>
</form>


<hr>

   <h2>Events</h2>
   <h3> These are the previous Alerts this system received </h3>
   <p> Note: you may not have recieved notifications for every event</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Game Name</th>
        <th>Number of Players</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event[1] }}</td>
          <td>{{ event[2] }}</td>
          <td>{{ event[3] }}</td>
          <td>{{ event[4] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 <script>
    function confirmDeletion() {
      return confirm('Are you sure you want to delete your info and all data?');
    }
  </script>
{% endblock %}
