{% extends 'base.html' %}

{% block content %}
  <h1>Phone Number</h1>
  <h4>US phone numbers only, 10 digits with dashes</h4>
  <form method="POST">
    {{ phone_form.hidden_tag() }}
    <div class="form-group">
     
      {{ phone_form.phone_number.label }}
      {{ phone_form.phone_number(id="phone_number", class="form-control", onblur="validatePhoneNumber()") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit US Number</button>
  </form>

  <hr>

  <h1>WhatsApp</h1>
  <h4>Any WhatsApp Number, global</h4>
  <form method="POST">
    {{ whatsapp_form.hidden_tag() }}
    <div class="form-group">
    
      {{ whatsapp_form.whatsapp_number.label }}
      {{ whatsapp_form.whatsapp_number(id="whatsapp_number", class="form-control", onblur="validateWhatsAppNumber()") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit WhatsApp Number</button>
  </form>

  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

{% endblock %}

